allow per_mgr shared_log_device:chr_file rw_file_perms;

allow per_mgr sysfs_msm_subsys:dir r_dir_perms;
allow per_mgr sysfs_msm_subsys:lnk_file r_file_perms;

binder_call(per_mgr, rild)

allow per_mgr subsys_modem_device:chr_file r_file_perms;

allow per_mgr self:capability net_raw;
